@font-face {
  font-family: Rez;
  src: url('../style/fonts/REZ.ttf');
}

@font-face {
  font-family: Exthing;
  src: url('../style/fonts/Exthing.ttf')
}

@font-face {
  font-family: Base;
  src: url('../style/fonts/base4.ttf')
}

@font-face {
  font-family: Neon;
  src: url('../style/fonts/Neon\ Planet\ Display.ttf')
}

html {
  height: 100%;
  min-width: 1200px;
  min-height: 500px;
  color: hotpink;
}

body {
  margin: 0;
  margin-right: 20%;
  background-image: url('../style/assets/illuminated-spiral-neon-light-side-black-background.jpg');
  background-repeat: none;
  background-color: black;
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
}

.landing {
  height: 100%;
  border: solid 1px transparent;
}

h1 {
  margin-top: 15%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-family: Neon;
  font-weight: 100;
  letter-spacing: 5pt;
  line-height: 3em;
  color: white;
  text-shadow: 0px 0px 60px hotpink;
  font-size: 60pt;
  border: double 10px white;
  border-radius: 20px;
  box-shadow: 0px 0px 60px hotpink, inset 0px 0px 60px hotpink;
}

.fed {
  width: 60%;
  margin-top: 5%;
  margin-left: 25%;
  margin-bottom: 0;
  padding-bottom: 1%;
  font-family: Rez;
  color: white;
  font-size: 50pt;
}

.bottom-border {
  height: 0px;
  width: 60%;
  margin-top: 0;
  margin-left: 25%;
  border: double 5px hotpink;
  border-radius: 10px;
  box-shadow: 0px 0px 50px pink;
}

.downarrow {
  margin-left: 39%;
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: 0px 0px 60px hotpink;
  font-size: 40pt;
}

.bio, .skills, .MVB, .alchezoomy, .resume {
  height: 100%;
  border: solid 1px transparent;
}

h2 {
  margin-left: 5%;
  width: 80%;
  text-align: left;
  font-family: Neon;
  font-weight: 100;
  font-size: 50pt;
  letter-spacing: 5pt;
  line-height: 1em;
  color: white;
  text-shadow: 0px 0px 40px hotpink;
}

.biop {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 8%;
  color: mistyrose;
  font-family: Base;
  font-size: 20pt;
  letter-spacing: 1pt;
}

.downarrow2 {
  color: white;
  text-shadow: 0px 0px 60px hotpink;
  font-size: 40pt;
}

.skills-data {
  margin-left: 4%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3%;
  font-family: Base;
  font-size: 14pt;
}

h3 {
  font-size: 20pt;
  font-family: Base;
  letter-spacing: 1pt;
  text-decoration: underline;
}

.techstack {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 15px;
  letter-spacing: .5pt;
}

p {
  font-family: Base;
  color: mistyrose;
}

.in-progress {
  height: 50%;
  border-left: solid 1px hotpink;
  border-right: solid 1px hotpink;
}

.downarrow3 {
  margin-top: -1%;
  color: white;
  text-shadow: 0px 0px 60px hotpink;
  font-size: 40pt;
}

.mvb-links {
  margin-top: -1%;
  display: grid;
  grid-template-columns: 33% 8% 8%;
  column-gap: 2%;
  justify-content: start;
  align-items: center;
  margin-left: 4%;
}

h4 {
  font-family: Base;
  line-height: 1em;
  font-size: 20pt;
  text-align: left;
  letter-spacing: 1pt;
}

a {
  color: mistyrose;
  text-decoration: underline hotpink;
}

a:hover {
  text-decoration: underline rebeccapurple;
  text-shadow: 0px 0px 25px pink;
  transition-duration: 1s;
}

.proj-links {
  line-height: 1em;
  text-align: left;
  font-size: 18pt;
}

.info {
  margin-bottom: 1%;
  display: grid;
  grid-template-columns: 60% 38%;
  column-gap: 4%;
}

img {
  width: 100%;
  margin-left: 4%;
}

.languages {
  font-weight: 600;
  letter-spacing: 1pt;
  color: hotpink;
}

.desc {
  font-size: 13pt;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 1pt;
}

.alchezoomy-links {
  margin-top: -1%;
  display: grid;
  grid-template-columns: 18% 8% 8%;
  column-gap: 2%;
  justify-content: start;
  align-items: center;
  margin-left: 4%;
}

.petreon-links {
  margin-top: -1%;
  display: grid;
  grid-template-columns: 13% 8% 8%;
  column-gap: 2%;
  justify-content: start;
  align-items: center;
  margin-left: 4%;
}