html {
    font-family: Crewniverse;
}

@font-face {
    font-family: Crewniverse;
    src: url('../../style/fonts/crewniverse_font.ttf');
}

@font-face {
    font-family: Espera;
    src: url('../../style/fonts/Espera-Regular.ttf');
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    color: #036f9e;
}

h3 {
    font-size: 1.5vw;
    margin-top: 0;
    margin-bottom: 0;
    color: #928bca;
}

p {
    font-family: Espera;
}

.aboutme {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: linear-gradient(#00001e, #053f8a);
    background-color: #00001e;
}

.int {
    height: 70vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 50% 50%;
}

.blurb {
    width: 45vw;
    padding: 1em;
    display: block;
    margin-top: 3vh;
    margin-left: 4vw;
    color: white;
    text-align: center;
    letter-spacing: 1pt;
    background: #928bca;
    border-radius: 25px;
    border: solid 1px white;
}

.blurb p {
    font-size: 2.25vw;
}

.skills {
    display: absolute;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    background-color: #053f8a;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 30vw 20vw;
    border: solid 1px #a8ebfa;
}

.skills p {
    font-size: 1.5vw;
    color: white;
}

.skills-tabs {
    position: relative;
    height: 9vh;
    width: 40vw;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw;
    text-align: center;
    background-color: #a8ebfa;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.skills-tabs p {
    color: #053f8a;
    padding-top: .5vh;
    margin-top: 20%;
}

.skills-tabs:hover {
    cursor: pointer;
}

#techtab, #xptab, #strtab {
    height: 100%;
    border-right: solid 1px #053f8a;
}

#techtab p, #xptab p, #strtab p {
    margin-top: 10%;
}

#techtab p:hover, #xptab p:hover, #strtab p:hover, #edtab p:hover {
    color: white;
    text-shadow: 0px 0px 10px #053f8a;
    transition-duration: .5s;
}

.display-screen {
    width: 38vw;
    margin-top: 10vh;
    margin-left: -29vw;
}

.skillshead {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 2pt;
    -webkit-text-stroke: 1px white;
    text-shadow: 0px .2rem #a8ebfa;
}

.techstack {
    position: relative;
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    column-gap: 3%;
    text-align: center;
}

.techstack p {
    font-size: 1.75vw;
}

.perstr {
    position: relative;
    display: grid;
    grid-template-columns: 18vw 18vw;
    column-gap: 3%;
    text-align: center;
}

.perstr p {
    font-family: Espera;
    font-size: 2.25vw;
}

.xp {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

h4 {
    margin-bottom: 1vh;
    color: #928bca;
    letter-spacing: .2vw;
    -webkit-text-stroke: 1px white;
    font-size: 1.85vw;
}

.xp h5 {
    margin-bottom: 1vh;
    color: #928bca;
    -webkit-text-stroke: .5px white;
    letter-spacing: .2vw;
    font-size: 1.25vw;
}

.xp p {
    margin-top: 0;
}

.edu {
    margin: 0;
    text-align: center;
}

.edu h4 {
    font-size: 1.5rem;
}

/* background elements */

.flare1 {
    position: absolute;
    background-image: linear-gradient(
        to top, rgba(10, 62, 190, .5), 
        rgba(10, 62, 190, 0) 100%);
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    z-index: -1;
}

#fl11 {
    top: 10em;
    left: 0;
    width: 10em;
    height: 60em; 
    transform: rotate(45deg);
}

#fl12 {
    top: 25em;
    left: 20em;
    width: 5em;
    height: 40em;
    transform: rotate(45deg);
}

.flare2 {
    position: absolute;
    background-image: linear-gradient(
        to top, rgba(143, 249, 254, .5),
        rgba(143, 249, 254, 0) 100%);
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    z-index: -1;
}

#fl21 {
    top: -8em;
    left: 12em;
    width: 1em;
    height: 60em;
    transform: rotate(45deg);
}

#fl23 {
    top: 10em;
    left: 3em;
    width: 1em;
    height: 60em;
    transform: rotate(45deg);
}

#fl24 {
    top: 40em;
    left: 30em;
    width: 1em;
    height: 30em;
    transform: rotate(45deg);
}

.flare3 {
    position: absolute;
    width: 40em;
    height: 40em;
    top: -27em;
    left: -20em;
    background-image: linear-gradient(
        to right, rgba(168, 235, 250, .5), 
        rgba(168, 235, 250, 0) 100%);
    z-index: -1;
    transform: rotate(45deg);
}

.flare4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 5em;
    background-image: linear-gradient(
        to left, rgba(168, 235, 250, .3), 
        rgba(168, 235, 250, 0) 100%);
    z-index: -1;
}

.star1 {
    position: fixed;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 15px solid #a8ebfa;
    z-index: -1;
}

.star1:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid #a8ebfa;
}

#st11 {
    top: 8vh;
    left: 14vw;
    animation: twinkle2 10s infinite;
}

#st12 {
    top: 93vh;
    left: 87vw;
    animation: twinkle1 8s infinite;
}

#st13 {
    top: 67vh;
    left: 23vw;
    animation: twinkle1 12s infinite;
}

#st14 {
    top: 53vh;
    left: 65vw;
    animation: twinkle2 9s infinite;
}

#st15 {
    top: 2vh;
    left: 90vw;
    animation: twinkle2 10s infinite;
}

#st16 {
    top: 77vh;
    left: 40vw;
    animation: twinkle1 13s infinite;
}

#st17 {
    top: -3vh;
    left: 60vw;
    animation: twinkle2 14s infinite;
}

.star2 {
    position: fixed;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid #15b4c8;
    opacity: .5;
    z-index: -1;
}

.star2:after {
    content: '';
    position: absolute;
    left: -8px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 10px solid #15b4c8;
}

#st21 {
    top: 1vh;
    left: 20vw;
    animation: twinkle3 8s infinite;
}

#st22 {
    top: 37vh;
    left: 10vw;
    animation: twinkle3 10s infinite;
}

#st23 {
    top: 70vh;
    left: 89vw;
    animation: twinkle3 15s infinite;
}

#st24 {
    top: 54vh;
    left: 44vw;
    animation: twinkle3 12s infinite;
}

#st25 {
    top: 33vh;
    left: 79vw;
    animation: twinkle3 9s infinite;
}

#st26 {
    top: 46vh;
    left: 94vw;
    animation: twinkle3 14s infinite;
}

#st27 {
    top: 45vh;
    left: 45vw;
    animation: twinkle3 18s infinite;
}

#st28 {
    top: 97vh;
    left: 70vw;
    animation: twinkle3 11s infinite;
}

#st29 {
    top: 3vh;
    left: 53vw;
    animation: twinkle3 19s infinite;
}

#st210 {
    top: 80vh;
    left: 14vw;
    animation: twinkle3 16s infinite;
}

#st211 {
    top: 78vh;
    left: 46vw;
    animation: twinkle3 20s infinite;
}

#st212 {
    top: 40vh;
    left: 55vw;
    animation: twinkle3 16s infinite;
}

#st213 {
    top: 26vh;
    left: 99vw;
    animation: twinkle3 18s infinite;
}

#st214 {
    top: 89vh;
    left: 60vw;
    animation: twinkle3 16s infinite;
}

#st215 {
    top: 98vh;
    left: 30vw;
    animation: twinkle3 14s infinite;
}

#st216 {
    top: 78vh;
    left: 78vw;
    animation: twinkle3 10s infinite;
}

.mobile {
    display: none;
}

@keyframes twinkle1 {
    0% {opacity: .8}
    20% {opacity: .3}
    40% {opacity: .6}
    60% {opacity: .1}
    80% {opacity: .4}
    100% {opacity: .8}
}

@keyframes twinkle2 {
    0% {opacity: .8}
    20% {opacity: .1}
    40% {opacity: .5}
    60% {opacity: .3}
    80% {opacity: .6}
    100% {opacity: .8}
}

@keyframes twinkle3 {
    0% {opacity: .5}
    20% {opacity: .1}
    40% {opacity: .3}
    60% {opacity: .4}
    80% {opacity: .2}
    100% {opacity: .5}
}

/* screen resizing */

@media screen and (max-width: 768px){
    h1 {
        font-size: 3.5rem;
        text-shadow: 0px .3rem #a8ebfa;
    }

    h2 {
        font-size: 1.5rem;
    }

    .subtext {
        width: 55vw;
    }

    .about {
        margin-top: 5vh;
        font-size: 3.75vw;
        width: 24vw;
    }

    .projects {
        font-size: 3.75vw;
        width: 28vw;
    }

    .contact {
        font-size: 3.75vw;
        width: 25vw;
    }

    .int {
        display: none;
    }

    .mobile {
        display: inline;
        text-align: center;
        color: white;
        font-weight: 900;
    }
}