@font-face {
    font-family: Crewniverse;
    src: url('../../style/fonts/crewniverse_font.ttf');
}

h1, h2, h3 {
    font-family: Crewniverse;
}

h1 {
    margin-bottom: 3vh;
    font-size: 6rem;
    color: #928bca;
    -webkit-text-stroke: 2px white;
    text-shadow: 0px .5rem #a8ebfa;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    color: #036f9e;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #928bca;
}

.landing {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: linear-gradient(#00001e, #053f8a);
    background-color: #00001e;
}

.text {
    margin-top: 8vh;
    text-align: center;
}

.buttons {
    text-align: center;
}

.subtext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .25rem;
    background-color: white;
    width: 35vw;
    border-radius: 50px;
    border-bottom: solid 1.5vh #a8ebfa;
}

.about {
    margin-top: 10vh;
    font-size: 2.5vw;
    font-family: Crewniverse;
    color: #928bc9;
    background-color: white;
    border: none;
    width: 18vw;
    border-radius: 50px;
    border-bottom: solid 5px #aae9fe;
}

.about:hover {
    cursor: pointer;
    color: #036e9f;
    box-shadow: 0px 0em .5em gainsboro;
    transition-duration: 1.5s;
}

.projects {
    margin-top: 5vh;
    font-size: 2.5vw;
    font-family: Crewniverse;
    color: #6484a5;
    background-color: white;
    border: none;
    width: 20vw;
    border-radius: 50px;
    border-bottom: solid 5px #84eaf4;
}

.projects:hover {
    cursor: pointer;
    color: #f485a6;
    box-shadow: 0px 0em .5em gainsboro;
    transition-duration: 1.5s;
}

.contact {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2.5vw;
    font-family: Crewniverse;
    color: #f97e8d;
    background-color: white;
    border: none;
    width: 18vw;
    border-radius: 50px;
    border-bottom: solid 5px #e8cfb2;
}

.contact:hover {
    cursor: pointer;
    color: #fc9e7b;
    box-shadow: 0px 0em .5em gainsboro;
    transition-duration: 1.5s;
}

.flare1 {
    position: absolute;
    background-image: linear-gradient(
        to top, rgba(10, 62, 190, .5), 
        rgba(10, 62, 190, 0) 100%);
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    z-index: -1;
}

#fl11 {
    top: 10em;
    left: 0;
    width: 10em;
    height: 60em; 
    transform: rotate(45deg);
}

#fl12 {
    top: 25em;
    left: 20em;
    width: 5em;
    height: 40em;
    transform: rotate(45deg);
}

.flare2 {
    position: absolute;
    background-image: linear-gradient(
        to top, rgba(143, 249, 254, .5),
        rgba(143, 249, 254, 0) 100%);
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    z-index: -1;
}

#fl21 {
    top: -8em;
    left: 12em;
    width: 1em;
    height: 60em;
    transform: rotate(45deg);
}

#fl23 {
    top: 10em;
    left: 3em;
    width: 1em;
    height: 60em;
    transform: rotate(45deg);
}

#fl24 {
    top: 40em;
    left: 30em;
    width: 1em;
    height: 30em;
    transform: rotate(45deg);
}

.flare3 {
    position: absolute;
    width: 40em;
    height: 40em;
    top: -27em;
    left: -20em;
    background-image: linear-gradient(
        to right, rgba(168, 235, 250, .5), 
        rgba(168, 235, 250, 0) 100%);
    z-index: -1;
    transform: rotate(45deg);
}

.flare4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 5em;
    background-image: linear-gradient(
        to left, rgba(168, 235, 250, .3), 
        rgba(168, 235, 250, 0) 100%);
    z-index: -1;
}

.star1 {
    position: fixed;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 15px solid #a8ebfa;
    z-index: -1;
}

.star1:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid #a8ebfa;
}

#st11 {
    top: 8vh;
    left: 14vw;
    animation: twinkle2 10s infinite;
}

#st12 {
    top: 93vh;
    left: 87vw;
    animation: twinkle1 8s infinite;
}

#st13 {
    top: 67vh;
    left: 23vw;
    animation: twinkle1 12s infinite;
}

#st14 {
    top: 53vh;
    left: 65vw;
    animation: twinkle2 9s infinite;
}

#st15 {
    top: 2vh;
    left: 90vw;
    animation: twinkle2 10s infinite;
}

#st16 {
    top: 77vh;
    left: 40vw;
    animation: twinkle1 13s infinite;
}

#st17 {
    top: -3vh;
    left: 60vw;
    animation: twinkle2 14s infinite;
}

.star2 {
    position: fixed;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid #15b4c8;
    opacity: .5;
    z-index: -1;
}

.star2:after {
    content: '';
    position: absolute;
    left: -8px;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 10px solid #15b4c8;
}

#st21 {
    top: 1vh;
    left: 20vw;
    animation: twinkle3 8s infinite;
}

#st22 {
    top: 37vh;
    left: 10vw;
    animation: twinkle3 10s infinite;
}

#st23 {
    top: 70vh;
    left: 89vw;
    animation: twinkle3 15s infinite;
}

#st24 {
    top: 54vh;
    left: 44vw;
    animation: twinkle3 12s infinite;
}

#st25 {
    top: 33vh;
    left: 79vw;
    animation: twinkle3 9s infinite;
}

#st26 {
    top: 46vh;
    left: 94vw;
    animation: twinkle3 14s infinite;
}

#st27 {
    top: 45vh;
    left: 45vw;
    animation: twinkle3 18s infinite;
}

#st28 {
    top: 97vh;
    left: 70vw;
    animation: twinkle3 11s infinite;
}

#st29 {
    top: 3vh;
    left: 53vw;
    animation: twinkle3 19s infinite;
}

#st210 {
    top: 80vh;
    left: 14vw;
    animation: twinkle3 16s infinite;
}

#st211 {
    top: 78vh;
    left: 46vw;
    animation: twinkle3 20s infinite;
}

#st212 {
    top: 40vh;
    left: 55vw;
    animation: twinkle3 16s infinite;
}

#st213 {
    top: 26vh;
    left: 99vw;
    animation: twinkle3 18s infinite;
}

#st214 {
    top: 89vh;
    left: 60vw;
    animation: twinkle3 16s infinite;
}

#st215 {
    top: 98vh;
    left: 30vw;
    animation: twinkle3 14s infinite;
}

#st216 {
    top: 78vh;
    left: 78vw;
    animation: twinkle3 10s infinite;
}

@keyframes twinkle1 {
    0% {opacity: .8}
    20% {opacity: .3}
    40% {opacity: .6}
    60% {opacity: .1}
    80% {opacity: .4}
    100% {opacity: .8}
}

@keyframes twinkle2 {
    0% {opacity: .8}
    20% {opacity: .1}
    40% {opacity: .5}
    60% {opacity: .3}
    80% {opacity: .6}
    100% {opacity: .8}
}

@keyframes twinkle3 {
    0% {opacity: .5}
    20% {opacity: .1}
    40% {opacity: .3}
    60% {opacity: .4}
    80% {opacity: .2}
    100% {opacity: .5}
}

@media screen and (max-width: 480px){
    h1 {
        font-size: 3.5rem;
        text-shadow: 0px .3rem #a8ebfa;
    }

    h2 {
        font-size: 1.5rem;
    }

    .subtext {
        width: 55vw;
    }

    .about {
        margin-top: 5vh;
        font-size: 3.75vw;
        width: 24vw;
    }

    .projects {
        font-size: 3.75vw;
        width: 28vw;
    }

    .contact {
        font-size: 3.75vw;
        width: 25vw;
    }
}